<div class="taskbar">

    <div class="startmenu">
        <div class="ico"><i class="fa fa-navicon"></i></div>
    </div>

    <div class="task-area">


    </div>

    <div class="util-area">

        <div class="notification-area"></div>

        <div class="clock-area"></div>
        <div class="evidence-group-1 calendar-area"></div>
        <div class="btn-minimize-all"></div>
        
    </div>
</div>
