<div class="work-area">

    <div class="app-icon">
        <div class="ico">
            <i class='fa fa-warning' style='color: #e55454;'></i>
        </div>
        <div class="description">
            Matheus de Souza Lima
        </div>
    </div>



</div>