html, body {
    margin: 0px;
    padding: 0;
    background: #aaa /*url(/Content/images/mars.jpg) no-repeat*/;
    background-size: 100%;
    font-family: 'Century Gothic', 'Aria', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    min-width: 800px;
}

.debugUi {
    background: red;
    color: #000;
}


.work-area {
    position: fixed;
    top: 0;
    bottom: 30px;
    left: 0;
    right: 0;
    overflow-y: auto;
}

.window {
    background: #eee;
    box-shadow: 0px 0px 10px 0px #555;
    position: fixed;
    border-bottom: 2px solid #888;
    margin: 5px;
    display: none;
}

    .window.evidence {
        box-shadow: 0px 0px 15px #58a1c2 !important;
    }

    .window.transparent {
        opacity: 0.7 !important;
    }

    .window .top-bar {
        background: #eee;
        height: 20px;
        border-bottom: 1px solid #ddd;
        float: none;
    }

    .window.selected-window .top-bar {
        background: #eee;
    }

    .window.not-selected-window .top-bar {
        background: #ccc;
    }

    .window.not-selected-window {
        box-shadow: 0px 0px 5px 0px #888;
    }

    .window .top-bar .left {
        color: #333;
        font-size: 14px;
        padding: 2px;
        float: left;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        line-height: 18px;
        cursor: default;
        width: calc(100% - 130px);
    }

        .window .top-bar .left .icon {
            margin-right: 5px;
        }

    .window .top-bar .right {
        color: #333;
        font-size: 14px;
        float: right;
        width: 123px;
    }

        .window .top-bar .right .btn {
            width: 40px;
            height: 20px;
            text-align: center;
            margin-left: 1px;
            float: right;
            cursor: default;
            font-size: 15px;
            color: #777;
        }

            .window .top-bar .right .btn i {
                font-weight: bold;
                margin-top: 2px;
            }

            .window .top-bar .right .btn:hover {
                background: #ddd;
            }

        .window .top-bar .right .btn-close:hover {
            background: #d83d3d;
            color: #fff;
        }

    .window.maximized {
        width: 100% !important;
        height: unset !important;
        bottom: 30px !important;
        left: 0px !important;
        top: 0px !important;
        position: fixed !important;
        margin: 0px;
    }

    .window.minimized {
        top: 100%;
        opacity: 0.1;
    }

    .window .body {
        float: left;
        min-height: 50px;
        overflow-X: auto;
        width: 100%;
        height: calc(100% - 25px);
        background: #fff;
    }

        .window .body iframe.container {
            width: 100%;
            height: calc(100% - 5px);
            border: 0px;
        }

.shadow-window {
    position: fixed;
    background: rgba(200,200,200,0.7);
}

.shadow-light {
    box-shadow: 0px 0px 100px 0px #fff !important;
}

.trail-window {
    position: fixed;
    box-shadow: -20px -20px 200px -20px #fff;
    z-index: -2;
}

.taskbar {
    background: #444;
    height: 20px;
    float: left;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 30px;
    box-shadow: 0px 0px 5px #000;
}

    .taskbar .startmenu {
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 60px;
        background: #777;
        height: 100%;
        font-size: 17px;
        color: #eee;
        cursor: default;
    }

        .taskbar .startmenu .ico {
            text-align: center;
            padding-top: 5px;
            padding-bottom: 6px;
        }

    .taskbar .task-area {
        position: fixed;
        left: 62px;
        bottom: 0px;
        height: 31px;
        width: calc(100% - 464px);
    }

        .taskbar .task-area .task-item {
            position: relative;
            height: 28px;
            width: 50px;
            background: transparent;
            margin-left: 0px;
            border-bottom: 3px solid #999;
            float: left;
        }

            .taskbar .task-area .task-item:hover {
                border-bottom: 3px solid #bbb;
                background: rgba(0,0,0,0.4);
            }

            .taskbar .task-area .task-item .ico {
                margin-top: 5px;
                float: left;
                height: 25px;
                width: 100%;
                text-align: center;
                color: #fff;
                font-size: 18px;
            }

                .taskbar .task-area .task-item .ico img {
                    max-height: 25px;
                }

                .taskbar .task-area .task-item .ico .counter {
                    font-size: 9px;
                    color: #fff;
                    position: absolute;
                    bottom: 0px;
                    right: 0px;
                    padding: 1px;
                    cursor: default;
                }

            .taskbar .task-area .task-item .apps,
            .taskbar .util-area .notification-area .notification-up .box {
                position: fixed;
                padding: 0px;
                bottom: 30px;
                z-index: 9999;
                display: block;
                background: rgba(0,0,0,0.6);
                box-shadow: 0px 0px 0px #000;
                overflow: auto;
                white-space: nowrap;
                max-width: 90%;
                display: none;
            }

            .taskbar .task-area .task-item.visible:hover .apps {
                display: block;
            }

            /*.taskbar .task-area .task-item:hover .apps {
                display: block;
            }*/

            .taskbar .task-area .task-item .apps .box-wrapper {
                width: 200px;
                height: 160px;
                display: inline-block;
                margin: 5px;
                background: rgba(255,255,255,0.1);
            }

                .taskbar .task-area .task-item .apps .box-wrapper .box {
                    width: 200px;
                    height: 160px;
                }

                    .taskbar .task-area .task-item .apps .box-wrapper .box .box-container {
                        float: left;
                        height: 130px;
                        width: 200px;
                        background: rgba(255,255,255,0.1);
                        text-align: center;
                    }

                        .taskbar .task-area .task-item .apps .box-wrapper .box .box-container canvas,
                        .taskbar .task-area .task-item .apps .box-wrapper .box .box-container img {
                            max-width: 100%;
                            max-height: 100%;
                        }

                    .taskbar .task-area .task-item .apps .box-wrapper .box:hover .top-bar {
                        background: #444;
                    }

                    .taskbar .task-area .task-item .apps .box-wrapper .box .top-bar {
                        background: #888;
                        height: 30px;
                        border-bottom: 1px solid #ddd;
                        float: none;
                    }

                        .taskbar .task-area .task-item .apps .box-wrapper .box .top-bar .title {
                            color: #eee;
                            font-size: 12px;
                            float: left;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            margin: 1px;
                            white-space: nowrap;
                            line-height: 22px;
                            cursor: default;
                            width: calc(100% - 32px);
                            height: 30px;
                        }

                        .taskbar .task-area .task-item .apps .box-wrapper .box .top-bar .btn-close {
                            color: #eee;
                            font-size: 24px;
                            float: right;
                            width: 30px;
                            height: 30px;
                            text-align: center;
                        }

                            .taskbar .task-area .task-item .apps .box-wrapper .box .top-bar .btn-close:hover {
                                background: #d83d3d;
                            }

    .taskbar .util-area {
        position: absolute;
        bottom: 0px;
        right: 0px;
        width: 237px;
        color: #eee;
        height: 100%;
    }

        .taskbar .util-area .notification-area {
            width: 137px;
            float: left;
            position: relative;
            height: 30px;
        }

            .taskbar .util-area .notification-area .notification-app {
                float: left;
                position: relative;
                height: 30px;
                width: 30px;
                padding: 2px;
                text-align: center;
                overflow: hidden;
                white-space: nowrap;
            }

                .taskbar .util-area .notification-area .notification-app:hover {
                    background: #555;
                }


            .taskbar .util-area .notification-area .notification-up {
                float: left;
                position: relative;
                height: 30px;
                /*background: red;*/
                width: 30px;
                text-align: center;
                display: none;
            }

            .taskbar .util-area .notification-area .out .notification-app {
                float: right;
            }

            .taskbar .util-area .notification-area .notification-up .box {
                position: fixed;
                max-width: 137px;
                display: none;
                background: #222;
            }

            .taskbar .util-area .notification-area .notification-up:hover {
                background: #222;
            }

        .taskbar .util-area .clock-area {
            width: 92px;
            float: left;
            position: relative;
            height: 100%;
            text-align: right;
            font-size: 20px;
            cursor: default;
        }

            .taskbar .util-area .clock-area:hover {
                background: rgba(0,0,0,0.2);
            }

            .taskbar .util-area .clock-area .clock {
                text-align: center;
                font-weight: bold;
                color: #fff;
            }

        .taskbar .util-area .calendar-area {
            width: 300px;
            position: fixed;
            bottom: 32px;
            right: 1px;
            /*height: 470px;*/
            background: rgba(0,0,0,0.4);
            box-shadow: 0px 0px 5px #000;
            text-align: center;
            cursor: default;
            display: none;
            z-index: 999;
        }

            .taskbar .util-area .calendar-area .calendar-clock {
                font-size: 52px;
                margin: 10px;
                padding: 10px;
                padding-right: 40px;
                background: rgba(0,0,0,0.4);
                text-align: right;
            }

                .taskbar .util-area .calendar-area .calendar-clock .calendar-date {
                    font-size: 20px;
                }

.btn-minimize-all {
    width: 5px;
    border-left: 1px solid #ddd;
    height: 100%;
    background: #656565;
    float: right;
    position: relative;
    cursor: default;
}

    .btn-minimize-all:hover {
        background: rgba(255,255,255,0.4);
    }

.calendar-area .ui-datepicker-header {
    width: 100%;
    height: 40px;
    background: rgba(0,0,0,0.4);
}

    .calendar-area .ui-datepicker-header select {
        border: 0px;
        font-size: 20px;
        background: rgba(0,0,0,0.4);
        color: #fff;
        height: 30px;
    }

.ui-datepicker-prev, .ui-datepicker-next {
    margin: 3px;
    width: 30px;
    height: 30px;
    font-size: 22px;
}

    .ui-datepicker-prev:hover, .ui-datepicker-next:hover {
        background: rgba(0,0,0,0.4);
        color: #eee;
    }

.ui-datepicker-prev {
    float: right;
}

.ui-datepicker-next {
    float: left;
}

.ui-datepicker-calendar {
    width: 100%;
    background: rgba(0,0,0,0.4);
}

    .ui-datepicker-calendar th {
        background: rgba(255,255,255,0.8);
        color: #000;
    }

    .ui-datepicker-calendar td {
        height: 50px;
        font-size: 22px;
        background: rgba(0,0,0,0.1);
    }

        .ui-datepicker-calendar td a {
            text-decoration: none;
            color: #fff;
        }

td.ui-datepicker-week-end {
    background: rgba(0,0,0,0.2);
}

td.ui-datepicker-other-month {
    color: #666;
    background: rgba(255,255,255,0.1);
}

td.ui-datepicker-week-col {
    font-size: 16px;
    color: #fff;
    background: rgba(255,255,255,0.4);
}

td.ui-datepicker-current-day, td.ui-datepicker-current-day a {
    background: #bbb;
    color: #222;
}

td.ui-datepicker-today, td.ui-datepicker-today a {
    background: #58a1c2;
    color: #fff;
}

.ui-icon-gripsmall-diagonal-se {
    background-position: -64px -224px;
}

.ui-icon {
    width: 20px;
    height: 20px;
}


.ui-hide-handler {
    width: 0px !important;
    height: 0px !important;
}

.ui-resizable-handle {
    position: absolute;
    font-size: 0.1px;
    display: block;
    -ms-touch-action: none;
    touch-action: none;
}

.ui-resizable-e {
    cursor: e-resize;
    right: -4px;
    top: 0px;
}

.ui-resizable-s {
    cursor: s-resize;
    bottom: -4px;
}

.ui-resizable-w {
    cursor: w-resize;
    left: -4px;
    top: 0px;
}

.ui-resizable-n {
    cursor: n-resize;
    top: -4px;
}

.ui-resizable-se {
    cursor: se-resize;
    right: -10px;
    bottom: -10px;
}

.ui-resizable-nw {
    cursor: nw-resize;
    left: -10px;
    top: -10px;
}

.ui-resizable-ne {
    cursor: ne-resize;
    right: -10px;
    top: -10px;
}

.ui-resizable-sw {
    cursor: sw-resize;
    left: -10px;
    bottom: -10px;
}

.ui-resizable-se, .ui-resizable-sw, .ui-resizable-ne, .ui-resizable-nw {
    height: 20px;
    width: 20px;
    border-radius: 100px;
}

.ui-resizable-s, .ui-resizable-n {
    height: 4px;
    width: 100%;
}

.ui-resizable-e, .ui-resizable-w {
    width: 4px;
    height: 100%;
}

.ui-resizable-e, .ui-resizable-w, .ui-resizable-s, .ui-resizable-n,
.ui-resizable-se, .ui-resizable-sw, .ui-resizable-ne, .ui-resizable-nw {
}

    .ui-resizable-e:hover, .ui-resizable-w:hover, .ui-resizable-s:hover, .ui-resizable-n:hover,
    .ui-resizable-se:hover, .ui-resizable-sw:hover, .ui-resizable-ne:hover, .ui-resizable-nw:hover {
        background: rgba(0,0,0,0.2);
    }

.ui-resizable-ghost {
    border: 1px dotted #58a1c2;
}

.ui-resizable-helper {
    border: 3px dashed #58a1c2;
}

.overlay {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: rgba(0,0,0,0.8);
    z-index: 999998;
}

    .overlay .loading {
        left: auto;
        right: auto;
        top: 45%;
        height: 30px;
        background: rgba(0,0,0,0.8);
        width: 100%;
        text-align: center;
        color: #fff;
        font-size: 16px;
        z-index: 999999;
        position: absolute;
    }

    .overlay:hover {
        cursor: wait;
    }

    .overlay.overlay-window {
        top: 20px;
        background: rgba(255,255,255,1);
    }

        .overlay.overlay-window .loading {
            height: 35px;
            color: #58a1c2;
            font-size: 30px;
            background: rgba(0,0,0,0);
        }

#loading {
    display: block;
}

.popup-container {
    font-size: 16px;
    margin: 10px;
}

.popup-btn-area {
    text-align: right;
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    background: #888;
}

    .popup-btn-area button {
        margin: 7px;
        font-size: 12px;
        min-width: 100px;
        height: 25px;
        background: #666;
        color: #eee;
        border: 0;
        border-radius: 2px;
    }

        .popup-btn-area button:hover {
            background: #58a1c2;
        }

.monitor .browserMonitor {
    background: rgba(0,0,0,0.2);
    width: 18px;
    height: 19px;
    right: 0px;
    position: relative;
    overflow: hidden;
    margin: 6px;
    float: right;
}

.monitor .leader {
    height: 100%;
    width: 0px;
    display: inline-block;
}

.monitor .hiding {
    position: absolute;
    width: 100%;
    height: 1%;
    bottom: 0px;
}

.monitor .ACM_graphUnit {
    width: 18px;
    height: 1%;
    margin-right: 0px;
    padding: 0px;
    display: inline-block;
    background: #6ba15e;
    border-top: 1px solid #6ba15e;
}

    .monitor .ACM_graphUnit.color1 {
        background: #7bbd6f;
        border-top: 1px solid #7bbd6f;
    }

.context-menu {
    position: fixed;
    min-width: 150px;
    min-height: 30px;
    background: #888;
}

    .context-menu .item {
        width: 100%;
        position: relative;
        height: 19px;
        border-bottom: 1px solid #aaa;
    }

.texteditor {
    height: 100%;
    position: absolute;
    width: 100%;
}

.cke_bottom {
    display: none !important;
}

.work-area .app-icon {
    width: 100px;
    height: 100px;
    margin: 10px;
    position: relative;
    float: left;
    vertical-align: middle;
    text-align: center;
    /*border: 1px solid red;*/
}

    .work-area .app-icon:hover {
        background: rgba(255,255,255,0.1);
        cursor: default;
    }

    .work-area .app-icon .ico {
        font-size: 40px;
    }

    .work-area .app-icon .description {
        color: #fff;
        text-shadow: 0px 0px 5px #333;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
        height: 50px;
        font-size: 11px;
    }

    .work-area .app-icon:hover .description {
        text-overflow: unset;
        white-space: unset;
    }

table.simpleTable {
    background: #eee;
    width: 100%;
    color: #444;
    font-size: 14px;
}

    table.simpleTable tr:hover {
        background: #58a1c2;
        color: #fff;
    }

    table.simpleTable th {
        text-align: center;
        background: #666;
        color: #ccc;
    }

    table.simpleTable tr td {
        padding: 5px;
    }

.aba_collection {
    width: 100%;
    border-bottom: 10px solid #fff;
    background: #eee;
    float: left;
}

    .aba_collection.fix {
        position: absolute;
    }

    .aba_collection .aba_item {
        float: left;
        margin-left: 1px;
        margin-top: 2px;
        border-top: 1px solid #777;
        /*border-right: 1px solid #777;
        border-left: 1px solid #777;*/
        padding: 5px;
        background: #ddd;
        font-size: 11px;
        color: #999;
        cursor: default;
        box-shadow: 0px -1px 0px 0px #fff;
    }

        .aba_collection .aba_item:hover {
            color: #fff;
            background: #58a1c2;
        }

        .aba_collection .aba_item.selected {
            background: #fff;
            font-weight: bold;
            color: #555;
            z-index: 99999;
        }

            .aba_collection .aba_item.selected:hover {
                color: #58a1c2;
            }

.aba_container {
    width: 100%;
}
