<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MWeb.WCF.Entity.Properties.Settings.MWebConnectionString1"
            connectionString="Data Source=localhost;Initial Catalog=MWeb;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="MWeb.WCF.Entity.Properties.Settings.MWebConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=MWeb;Persist Security Info=True;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>